<h1>All books</h1>

<h2><a href="/books/create">Add new book</a></h2>

<form>
    <input name="search" placeholder="Search books" value="{{query}}"/>
    <button type="submit">Search</button>
</form>

{{#each books}}
    {{> book}}
{{/each}}